.ingredients_container {
  position: relative;
  cursor: grab;
  transition: transform 0.3s ease;
}

.drag_icon_wrapper {
  position: absolute;
  left: 1%;
  top: 35%;
}
@media screen and (max-width: 1128px) {
  .constructor_element {
    font-size: 14px;
  }
}
