.wrapper {
  height: 60vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  max-width: 1280px;
  gap: 60px;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.link_button {
  color: #8585ad;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  height: 64px;
}

.link {
  display: flex;
  align-items: center;
  color: #8585ad;
  height: 64px;
}

.active_link {
  display: flex;
  align-items: center;
  color: white;
  height: 64px;
}
