.wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 320px 1fr;
  width: 100%;
  column-gap: 60px;
}

.nav {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 880px) {
  .container {
    grid-template-columns: 230px 1fr;
    column-gap: 40px;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .wrapper {
    height: 80vh;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.link_button {
  color: #8585ad;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  height: 64px;
  transition: color 0.2s linear;
}

.link_button:hover {
  color: #4c4cff;
}

.link {
  display: flex;
  align-items: center;
  color: #8585ad;
  height: 64px;
  transition: color 0.2s linear;
}

.link:hover {
  color: #4c4cff;
}

.active_link {
  color: white;
}
