.wrapper {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 320px 1fr;
  width: 100%;
  column-gap: 60px;
}

.nav {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.link_button {
  color: #8585ad;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  height: 64px;
}

.link {
  display: flex;
  align-items: center;
  color: #8585ad;
  height: 64px;
}

.active_link {
  display: flex;
  align-items: center;
  color: white;
  height: 64px;
}
