.wrapper {
  width: 100%;
  margin: 0 20px;
}

.orderlist_wrapper {
  width: 55%;
}

.heading {
  margin: 40px 0 20px 0;
}

.container {
  display: flex;
  gap: 60px;
}

@media screen and (max-width: 768px) {
  .orderlist_wrapper {
    width: 100%;
  }

  .heading {
    text-align: center;
  }
}
