.wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}

.container {
  position: relative;
  border-radius: 30px;
  z-index: 10;
  background-color: #1c1c21;
}

.header_with_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  position: absolute;
  right: 40px;
  top: 49px;

  & :hover {
    cursor: pointer;
  }
}
