.modal_container {
  padding: 0 20px 0 20px;
}

.page_container {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  margin: 40px;
}

.image {
  width: 100%;
  height: 100%;
}

.ingredients {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 32px;
}

.compound_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.compound_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .compound_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
