.modal_container {
  padding: 0 20px 0 20px;
}

.page_container {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  margin: 40px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 32px;
}

.compound_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.compound_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
