* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.spinner_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.input {
  width: 600px;
  max-width: 100%;
}
