.compound_item {
  display: grid;
  grid-template-columns: 64px 1fr 120px;
  align-items: center;
  column-gap: 16px;
}

.image_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: -12px;
  background: linear-gradient(64deg, #801ab2, #4c4cff);
  color: #ffffff;
}

.body {
  text-wrap: wrap;
}

.image_wrapper::before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  background: #131316;
  z-index: -1;
}

.image_wrapper:nth-of-type(1) {
  z-index: 1;
  margin-left: 0;
}

.image {
  height: 50px;
  z-index: 1;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (max-width: 500px) {
  .compound_item {
    grid-template-columns: 36px 1fr 95px;
  }

  .price {
    font-size: 18px;
  }

  .body {
    font-size: 14px;
  }

  .image_wrapper {
    width: 39px;
    height: 39px;
  }

  .image_wrapper::before {
    width: 35px;
    height: 35px;
  }

  .image {
    height: 25px;
    z-index: 1;
  }
}
