.container {
  margin-top: 40px;
}

.type_block_container {
  display: grid;
  grid-template-columns: repeat(2, 272px);
  gap: 24px 32px;
  margin-top: 24px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  max-height: 660px;
  overflow-y: scroll;
  margin-top: 40px;
}

.tab_menu_container {
  display: flex;
  margin-top: 20px;
}
