.container {
  margin-top: 40px;
  flex-basis: 50%;
}

.type_block_container {
  display: grid;
  grid-template-columns: repeat(2, 272px);
  gap: 24px 32px;
  margin-top: 24px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100%;
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  margin-top: 40px;
}

.tab_menu_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-basis: 100%;
  }
  .type_block_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .tab_menu_container {
    margin: 0 20px;
  }
}

@media screen and (max-width: 640px) {
  .type_block_container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .type_block_container {
    gap: 0;
  }

  .tab_menu_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
