.accordion_wrapper {
  border-radius: 8px;
  overflow: hidden;
  max-width: 400px;
}

.accordion_button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 14px 0;
}

.accordion_content {
  background: transparent;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
