.wrapper {
  margin: 0 auto;
  background-color: #1c1c21;
}

.container {
  width: 100%;
  width: 1280px;
  display: grid;
  grid-template-columns: 383px 1fr 207px;
  align-items: center;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #8585ad;
}

.active_link {
  color: "#ffff";
}

.logo {
  margin-left: 112px;
}

.account {
  display: flex;
  align-items: center;
}
